:root {
	--answer-color: black;
  }


body {
	margin: 0;
	background-color: black;
	font-family: 'Montserrat', sans-serif;
}

section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.display-none {
	display: none;
}

.visibility-hidden {
	visibility: hidden;
}

.btn-primary {
	background: var(--gift-color);
	border-color: white;
}

.btn-primary:hover {
	background: white;
	border-color: var(--gift-color);
	color: var(--gift-color);
}