:root {
	/* --midon-color: black; */
	--midon-full-color: black;
	--body-background-color: black;
}

body {
	margin: 0;
	background-color: var(--body-background-color);
	font-family: 'Montserrat', sans-serif;
}

section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.display-none {
	display: none;
}

.visibility-hidden {
	visibility: hidden;
}

.btn-primary {
	background: var(--midon-color);
	border-color: white;
}

.btn-primary:hover {
	background: white;
	border-color: var(--midon-color);
	color: var(--midon-color);
}

.espiga {
	width: 60px;
	position: fixed;
	bottom: 30px;
	left: 30px;
}

header {
	/* width: 60px; */
	position: fixed;
	top: 30px;
	left: 30px;
}

.back {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	text-decoration: none;
}

.back:hover {
	font-weight: 900;
	color: white;
}

.back i {
	margin: 0 10px;
}

.back h4 {
	margin: 0 10px;
}
